<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fraternityandroid.greeklife">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".InfoActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomePage" />

        <activity
            android:name=".AccountDetailsActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".ProfileDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MasterControlsActivity"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MembersActivity"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait"/>

        <activity android:name=".MasterPostToHomeActivity"
            android:parentActivityName=".MasterControlsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ConstitutionViewer"
            android:parentActivityName=".InfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ManageUserActivity"
            android:parentActivityName=".MasterControlsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ViewProfileActivity"
            android:parentActivityName=".MembersActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>